@model EBilets.Domain.DomainModels.Billet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Billet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BilletName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BilletName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BilletImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BilletImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BilletDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BilletDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BilletPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BilletPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
